/* GENERAL */
body {
  margin: 0;
  text-align: center;
  color: #5C527F;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 2.625rem;
  line-height: 1.5;
  margin: 0;
}

h2, h3 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #F6AE99;
  font-size: 1rem;
  line-height: 1.5;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: #CEE5D0;
  border-width: 9px;
  width: 25%;
  margin: 100px auto;
  margin-bottom: 0;
}

/* classes */
.intro {
  width: 30%;
  margin: auto;
  padding: 20px;
}

.about-greeting {
  margin-top: 50px;
}

.copyright {
  padding: 10px 0;
  color: #5C527F;
}

.copyright:hover {
  color: #F6AE99;
}

.header-link {
  padding: 20px;
  text-decoration: none;
  color: #00ADB5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.header-link:hover {
  color: #F6AE99;
}

.footer-link {
  padding: 20px;
  text-decoration: none;
  color: #00ADB5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.footer-link:hover {
  color: #F6AE99;
}

/* IMAGES */
.indigo-logo {
  width: 35%;
  height: 10%;
}

.profile-pic {
  width: 30%;
  padding: 30px 0;
}

.indigo-logo-back {
  width: 10%;
  padding:auto;
}

.camera {
  width: 15%;
  float: left;
  padding-right: 20px;
}

.teacher {
  width: 15%;
  float: right;
  padding-left: 20px;
}

.pics {
width: 30%;
}

.moved {
  position: relative;
  bottom: 50px;
}

/* MAIN DIVS */
.header {
  background-color: #CEE5D0;
  padding: 30px;
  border-style: dotted;
  border-width: 9px;
  color: #F6AE99;
}

.content {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #CEE5D0;
  padding: 30px;
  border-style: dotted;
  border-width: 9px;
  color: #F6AE99;
}

/* SUB DIVS */
.skills {
margin-top: 50px;

}

.skill-1, .skill-2 {
  width: 50%;
  margin: 20px auto;
  text-align: left;
  margin-bottom: 50px;
}

.skill-2 {
  padding-bottom: 50px;
}

.contact-me {
  width: 50%;
  margin: 20px auto;
  margin-bottom: 50px;
}

.btn {
 background: #11CDD4;
 background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
 background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
 background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
 background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
 background-image: -webkit-gradient(to bottom, #11CDD4, #1199E9);
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 font-weight: 100;
 padding: 10px;
 -webkit-box-shadow: 0 0 0 0 #000000;
 -moz-box-shadow: 0 0 0 0 #000000;
 box-shadow: 0 0 0 0 #000000;
 text-shadow: 0 0 0 #000000;
 border: solid #11CCD4 1px;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
 margin-bottom: 30px;
}

.BUTTON_AKY:hover {
 border: solid #337FED 1px;
 background: #30E3CB;
 background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
 background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
 background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
 background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
 background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 text-decoration: none;
}
